{% extends "base.html.twig" %}
{% block title %} Accueil - {{ parent() }}{% endblock %}
{% block body %}
    <h1>Accueil</h1>

    {% include "Concert/_concert_table.html.twig"  with concerts %}

{%  endblock %}